body {
  color: #1155cc;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder {
  text-align:center;
  color: #1155cc !important;
  opacity: 1 !important;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-webkit-any-link:active {
  color: inherit;
}

:-ms-input-placeholder {
  text-align:center;
  color: #1155cc !important;
  opacity: 1 !important;
}

:focus {
  outline: none;
}

.MuiInput-input-117 {
  color: #1155cc !important;
}

.MuiTab-label-215 {
  font-size: 1rem !important;
}

.recharts-wrapper {
  margin : 0 auto;
}